body {
  background: #e5e5e5;
}

.width {
  width: 1170px;
  max-width: calc(100% - 24px);
  margin: 0 auto;
}

.btn {
  min-width: 117px;
  height: 48px;
  font-size: 1.4rem;
  color: #000958;
  border: 1px solid #000958;
  border-radius: 99px;
  background: transparent;
  font-weight: 600;
  text-align: center;
}

.btn.active {
  background-color: #ff5b2e;
  color: #ffffff;
}

.heading {
  font-weight: 700;
  font-size: 5.2rem;
  line-height: 1.2;
  color: #000958;
}

.desc {
  font-weight: 400;
  line-height: 1.88;
  color: #656689;
}

.header {
  padding: 16px 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 2;
  backdrop-filter: blur(20px);
}
.header__inner {
  justify-content: space-between;
  align-items: center;
}
.header__link {
  font-weight: 500;
  padding: 0 18px;
  font-size: 1.4rem;
  line-height: 1;
  color: #5e6085;
}
.header__link.active-link {
  color: #000958;
  font-weight: 600;
}

.hero {
  margin-top: 80px;
  padding-top: 80px;
}
.hero__inner {
  align-items: center;
  justify-content: space-between;
  gap: 120px;
}
.hero__item {
  flex: 1;
}
.hero__media {
  position: relative;
  padding-bottom: 94px;
}
.hero__imgs {
  border-radius: 16px;
  object-fit: cover;
}
.hero__imgs:first-child {
  width: 388px;
  height: 488px;
}
.hero__imgs:last-child {
  width: 186px;
  height: 244px;
  position: absolute;
  bottom: 0;
  right: 0;
}
.hero .decor {
  position: absolute;
  bottom: 0;
  left: -58px;
  z-index: -1;
}
.hero__heading {
  width: 517px;
  font-weight: 800;
  font-size: 6.6rem;
  line-height: 1.2;
  color: #000958;
  margin-bottom: 24px;
}
.hero__desc {
  width: 391px;
  font-weight: 400;
  line-height: 1.8;
  color: #656689;
  margin-bottom: 38px;
}
.hero__btn {
  width: 189px;
  height: 60px;
  background-color: #ff5b2e;
  font-weight: 600;
  line-height: 1;
  text-align: center;
  color: #ffffff;
  border: none;
}
.hero__contact {
  padding-left: 24px;
  font-weight: 500;
  text-decoration-line: underline;
  color: #000958;
}
.hero__list {
  width: 250px;
  height: 156px;
  background: #ffffff;
  box-shadow: -17px 14px 68px -4px rgba(207, 174, 132, 0.25);
  border-radius: 10px;
  position: absolute;
  left: 94px;
  bottom: 0;
}
.hero__list-item {
  padding: 19px 17px;
  display: flex;
  gap: 10px;
}
.hero__list-item:first-child {
  border-bottom: 2px solid #f2f2f2;
}
.hero__item-thumb {
  width: 40px;
  height: 40px;
  object-fit: cover;
  border-radius: 5px;
}
.hero__item-desc {
  font-weight: 600;
  font-size: 1.4rem;
  line-height: 1;
  color: #181e52;
  margin-bottom: 7px;
}
.hero__item-skeleton {
  background: #000958;
  opacity: 0.08;
  border-radius: 10px;
  margin-bottom: 6px;
}
.hero__item-skeleton:first-of-type {
  width: 118px;
  height: 4px;
}
.hero__item-skeleton:last-child {
  width: 39px;
  height: 4px;
}

.about {
  margin-top: 69px;
  padding: 69px 0;
}
.about__inner {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  row-gap: 145px;
}
.about__sub {
  font-weight: 600;
  color: #5e6085;
  margin-bottom: 15px;
}
.about__heading {
  width: 446px;
  margin-bottom: 24px;
}
.about__desc {
  width: 431px;
  margin-bottom: 54px;
}
.about__option {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px 36px;
}
.about__check {
  font-weight: 500;
  font-size: 1.8rem;
  line-height: 1;
  color: #48496a;
  display: flex;
  align-items: center;
  gap: 0 10px;
  position: relative;
}
.about__check::before {
  display: inline-block;
  content: "";
  width: 24px;
  height: 24px;
  background: #ff5d31;
  box-shadow: 0px 4px 15px -3px rgba(255, 93, 49, 0.69);
  border-radius: 4px;
}
.about__check::after {
  display: inline-block;
  content: "";
  width: 12px;
  height: 8px;
  border: none;
  border-top: 2px solid #fff;
  border-right: 2px solid #fff;
  position: absolute;
  left: 5px;
  bottom: 10px;
  rotate: 130deg;
}
.about__media {
  position: relative;
}
.about__wrapper {
  width: 494px;
  position: relative;
  margin-left: auto;
}
.about__wrapper::after {
  position: absolute;
  content: "";
  inset: auto 0 0 0;
  height: 336px;
  background: linear-gradient(180deg, #fce0ef 0%, #fac3d1 100%);
  z-index: -1;
  border-radius: 16px;
}
.about__img1 {
  width: 450px;
  display: block;
  margin-inline: auto;
}
.about__card {
  width: 136px;
  height: 156px;
  background: #5bd6e2;
  box-shadow: -15px 26px 48px rgba(85, 240, 255, 0.17);
  border-radius: 10px;
  position: absolute;
  top: 156px;
}
.about__exper {
  padding: 31px 26px 0;
  font-weight: 700;
  font-size: 4.2rem;
  line-height: 1;
  text-align: center;
  color: #ffffff;
  margin-bottom: 14px;
}
.about__exper-desc {
  width: 83px;
  margin-inline: auto;
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 1.43;
  text-align: center;
  color: #c6f4f9;
}
.about__exper-decor {
  position: absolute;
  top: -40px;
  right: -33px;
}
.about .wrapper__bottom {
  margin-left: 0;
  background: linear-gradient(180deg, #c6e2fa 0%, #94c2ea 100%);
  box-shadow: 0px 17px 77px -8px rgba(190, 165, 139, 0.17);
  border-radius: 18px;
}
.about .wrapper__bottom::after {
  content: none;
}
.about__img-wrap {
  width: 100%;
  display: block;
  border-radius: 18px;
}
.about__decor-img {
  position: absolute;
}
.about__decor-img:nth-child(1) {
  right: -24px;
  bottom: -40px;
}
.about__decor-img:nth-child(2) {
  right: -33px;
  bottom: -47px;
}
.about__decor-img:nth-child(3) {
  right: -42px;
  bottom: -55px;
}

/*# sourceMappingURL=style.css.map */
