body {
  background: #e5e5e5;
}

.width {
  width: 1170px;
  max-width: calc(100% - 24px);
  margin: 0 auto;
}

.btn {
  min-width: 117px;
  height: 48px;
  font-size: 1.4rem;
  color: #000958;
  border: 1px solid #ccc;
  border-radius: 99px;
  background: transparent;
  font-weight: 600;
  text-align: center;
}

.btn.active {
  background-color: #ff5b2e;
  color: #ffffff;
}

.heading {
  font-weight: 700;
  font-size: 5.2rem;
  line-height: 1.2;
  color: #000958;
}

.desc {
  font-weight: 400;
  line-height: 1.88;
  color: #656689;
}

.header {
  padding: 16px 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 2;
  backdrop-filter: blur(20px);
}
.header__inner {
  justify-content: space-between;
  align-items: center;
}
.header__link {
  font-weight: 500;
  padding: 0 18px;
  font-size: 1.4rem;
  line-height: 1;
  color: #5e6085;
}
.header__link.active-link {
  color: #000958;
  font-weight: 600;
}

.hero {
  margin-top: 80px;
  padding-top: 80px;
}
.hero__inner {
  align-items: center;
  justify-content: space-between;
  gap: 120px;
}
.hero__item {
  flex: 1;
}
.hero__media {
  position: relative;
  padding-bottom: 94px;
}
.hero__imgs {
  border-radius: 16px;
  object-fit: cover;
}
.hero__imgs:first-child {
  width: 388px;
  height: 488px;
}
.hero__imgs:last-child {
  width: 186px;
  height: 244px;
  position: absolute;
  bottom: 0;
  right: 0;
}
.hero .decor {
  position: absolute;
  bottom: 0;
  left: -58px;
  z-index: -1;
}
.hero__heading {
  width: 517px;
  font-weight: 800;
  font-size: 6.6rem;
  line-height: 1.2;
  color: #000958;
  margin-bottom: 24px;
}
.hero__desc {
  width: 391px;
  font-weight: 400;
  line-height: 1.8;
  color: #656689;
  margin-bottom: 38px;
}
.hero__btn {
  width: 189px;
  height: 60px;
  background-color: #ff5b2e;
  font-weight: 600;
  line-height: 1;
  text-align: center;
  color: #ffffff;
  border: none;
}
.hero__contact {
  padding-left: 24px;
  font-weight: 500;
  text-decoration-line: underline;
  color: #000958;
}
.hero__list {
  width: 250px;
  height: 156px;
  background: #ffffff;
  box-shadow: -17px 14px 68px -4px rgba(207, 174, 132, 0.25);
  border-radius: 10px;
  position: absolute;
  left: 94px;
  bottom: 0;
}
.hero__list-item {
  padding: 19px 17px;
  display: flex;
  gap: 10px;
}
.hero__list-item:first-child {
  border-bottom: 2px solid #f2f2f2;
}
.hero__item-thumb {
  width: 40px;
  height: 40px;
  object-fit: cover;
  border-radius: 5px;
}
.hero__item-desc {
  font-weight: 600;
  font-size: 1.4rem;
  line-height: 1;
  color: #181e52;
  margin-bottom: 7px;
}
.hero__item-skeleton {
  background: #000958;
  opacity: 0.08;
  border-radius: 10px;
  margin-bottom: 6px;
}
.hero__item-skeleton:first-of-type {
  width: 118px;
  height: 4px;
}
.hero__item-skeleton:last-child {
  width: 39px;
  height: 4px;
}

.about {
  margin-top: 69px;
  padding: 69px 0;
}
.about__inner {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  row-gap: 145px;
}
.about__sub {
  font-weight: 600;
  color: #5e6085;
  margin-bottom: 15px;
}
.about__heading {
  width: 446px;
  margin-bottom: 24px;
}
.about__desc {
  width: 431px;
  margin-bottom: 54px;
}
.about__option {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px 36px;
}
.about__check {
  font-weight: 500;
  font-size: 1.8rem;
  line-height: 1;
  color: #48496a;
  display: flex;
  align-items: center;
  gap: 0 10px;
  position: relative;
}
.about__check::before {
  display: inline-block;
  content: "";
  width: 24px;
  height: 24px;
  background: #ff5d31;
  box-shadow: 0px 4px 15px -3px rgba(255, 93, 49, 0.69);
  border-radius: 4px;
}
.about__check::after {
  display: inline-block;
  content: "";
  width: 12px;
  height: 8px;
  border: none;
  border-top: 2px solid #fff;
  border-right: 2px solid #fff;
  position: absolute;
  left: 5px;
  bottom: 10px;
  rotate: 130deg;
}
.about__media {
  position: relative;
}
.about__wrapper {
  width: 494px;
  position: relative;
  margin-left: auto;
}
.about__wrapper::after {
  position: absolute;
  content: "";
  inset: auto 0 0 0;
  height: 336px;
  background: linear-gradient(180deg, #fce0ef 0%, #fac3d1 100%);
  z-index: -1;
  border-radius: 16px;
}
.about__img1 {
  width: 450px;
  display: block;
  margin-inline: auto;
}
.about__card {
  width: 136px;
  height: 156px;
  background: #5bd6e2;
  box-shadow: -15px 26px 48px rgba(85, 240, 255, 0.17);
  border-radius: 10px;
  position: absolute;
  top: 156px;
}
.about__exper {
  padding: 31px 26px 0;
  font-weight: 700;
  font-size: 4.2rem;
  line-height: 1;
  text-align: center;
  color: #ffffff;
  margin-bottom: 14px;
}
.about__exper-desc {
  width: 83px;
  margin-inline: auto;
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 1.43;
  text-align: center;
  color: #c6f4f9;
}
.about__exper-decor {
  position: absolute;
  top: -40px;
  right: -33px;
}
.about .wrapper__bottom {
  margin-left: 0;
  background: linear-gradient(180deg, #c6e2fa 0%, #94c2ea 100%);
  box-shadow: 0px 17px 77px -8px rgba(190, 165, 139, 0.17);
  border-radius: 18px;
}
.about .wrapper__bottom::after {
  content: none;
}
.about__img-wrap {
  width: 100%;
  display: block;
  border-radius: 18px;
}
.about__decor-img {
  position: absolute;
}
.about__decor-img:nth-child(1) {
  right: -24px;
  bottom: -40px;
}
.about__decor-img:nth-child(2) {
  right: -33px;
  bottom: -47px;
}
.about__decor-img:nth-child(3) {
  right: -42px;
  bottom: -55px;
}
.about__content-desc {
  margin: 24px 0 50px;
  width: 511px;
  line-height: 1.88;
}
.about .tab__list {
  display: flex;
  justify-content: space-between;
  position: relative;
}
.about .tab__item-active::after,
.about .tab__list::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 2px;
  background-color: #ff5b2e;
  border-radius: 1px;
  opacity: 0.07;
}
.about .tab__item-active::after {
  width: 95px;
  opacity: 1;
}
.about .tab__item {
  padding-bottom: 14px;
  display: flex;
  align-items: center;
  gap: 0 12px;
  position: relative;
  cursor: pointer;
}
.about .tab__item:nth-child(2) img {
  width: 18px;
  height: 18px;
}
.about .tab__item span {
  font-weight: 600;
  font-size: 1.8rem;
  line-height: 1;
  color: #48496a;
}
.about .tab__contents {
  padding-top: 36px;
}
.about .tab__content-item {
  display: none;
}
.about .tab__content-item.tab__item-show {
  display: block;
}
.about .tab__content-item .about__link {
  padding-top: 30px;
  font-weight: 500;
  color: #ff5d31;
  border-bottom: 2px solid #ff5d31;
}
.about .tab__title {
  width: 391px;
  font-size: 1.4rem;
  line-height: 1.7;
  color: #656689;
}

.services {
  margin-top: 190px;
  background-color: #fff6ed;
  padding: 68px 0 100px;
}
.services__top {
  text-align: center;
  margin-bottom: 71px;
}
.services__bottom {
  display: grid;
  grid-template-columns: auto 1fr auto;
  gap: 0 64px;
}
.services__sub {
  color: #5e6085;
}
.services__column:nth-child(2) {
  align-self: flex-end;
}
.services__card {
  width: 235px;
  background-color: #fff;
  padding: 30px 28px;
  border-radius: 10px;
  border: 2px solid rgba(255, 188, 122, 0.26);
}
.services__card + .services__card {
  margin-top: 24px;
}
.services__title {
  font-weight: 600;
  font-size: 2.2rem;
  line-height: 2.2;
  color: #000958;
  margin-bottom: 18px;
  position: relative;
  padding-left: 12px;
}
.services__title::before {
  position: absolute;
  content: "";
  background-color: #ff5b2e;
  width: 2px;
  height: 22px;
  border-radius: 1px;
  left: 0;
  bottom: 13px;
}
.services__desc {
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 1.71;
  color: #656689;
  margin-bottom: 24px;
}
.services__link {
  display: inline-flex;
  align-items: center;
  gap: 5px;
  font-size: 1.2rem;
  line-height: 1;
  color: #5e6085;
}
.services__link::after {
  content: url(../img/ArrowUpRight.svg);
}
.services__media {
  margin-top: 18px;
  position: relative;
}
.services__media::after {
  position: absolute;
  content: "";
  background: linear-gradient(180deg, #9df1fb 0%, #73d0db 108.14%);
  border-radius: 10px;
  left: 16px;
  right: 16px;
  bottom: 0;
  height: 350px;
}
.services__img {
  width: 100%;
  display: block;
  z-index: 1;
  position: relative;
}
.services__cta {
  margin-top: 45px;
  text-align: center;
}
.services__cta-link {
  width: 214px;
  height: 56px;
  border: 1px solid #ff5b2e;
  border-radius: 31px;
  line-height: 56px;
  color: #ff5b2e;
}

.staff {
  padding: 130px 0;
}
.staff__top {
  text-align: center;
  margin-bottom: 60px;
}
.staff__desc {
  line-height: 1;
  color: #5e6085;
  margin-bottom: 15px;
}
.staff__list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 0 37px;
}
.staff__images {
  margin: 0 16px;
  border-radius: 130px;
  position: relative;
}
.staff__images::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 94%;
  background: linear-gradient(180deg, #90ccff 0%, #59a8eb 95.96%);
  bottom: 0;
  left: 0;
  border-radius: inherit;
}
.staff__images::after {
  width: calc(100% + 36px);
  height: 100%;
  content: "";
  background: url(../img/decor_03.svg) no-repeat bottom;
  background-size: 100%;
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  bottom: 0;
}
.staff__img {
  width: 100%;
  position: relative;
  z-index: 1;
  display: block;
  border-radius: inherit;
}
.staff__item-title, .staff__item-name {
  text-align: center;
}
.staff__item-title {
  margin-top: 29px;
  font-size: 1.4rem;
  line-height: 1;
  color: #656689;
}
.staff__item-name {
  margin-top: 14px;
  font-weight: 600;
  font-size: 2.2rem;
  line-height: 1;
  color: #000958;
}
.staff__cta {
  text-align: center;
}
.staff__cta-link {
  margin-top: 50px;
  width: 192px;
  height: 56px;
  border: 1px solid #ff5b2e;
  border-radius: 31px;
  line-height: 56px;
  color: #ff5b2e;
}

.pricing {
  padding: 86px 0;
  background-color: #fff6ed;
}
.pricing__top {
  text-align: center;
}
.pricing__heading {
  margin-bottom: 24px;
}
.pricing__desc {
  width: 709px;
  line-height: 1.88;
  margin: 0 auto;
}
.pricing__change {
  margin: 38px auto;
  width: 276px;
  height: 56px;
  border-radius: 99px;
  border: 1px solid #ff5b2e;
  display: flex;
  align-items: center;
  cursor: pointer;
}
.pricing__spinner {
  padding: 16px 40px;
  border-radius: inherit;
}
.pricing__spinner.actively {
  background-color: #ff5b2e;
  color: white;
}
.pricing__list {
  display: flex;
  align-items: center;
  gap: 0 30px;
  justify-content: center;
}
.pricing__item {
  width: 242px;
  background: #ffffff;
  border-radius: 20px;
  padding: 30px;
}
.pricing__label {
  font-weight: 400;
  font-size: 1.2rem;
  line-height: 1;
  color: #ff5b2e;
  margin-bottom: 8px;
}
.pricing__day-care {
  font-weight: 600;
  font-size: 1.8rem;
  line-height: 1;
  color: #3f4065;
  margin-bottom: 24px;
}
.pricing__number {
  font-weight: 700;
  font-size: 3.3rem;
  line-height: 1.03;
  color: #000958;
  margin-bottom: 22px;
}
.pricing__checkout {
  width: 246px;
  height: 44px;
  font-weight: 500;
  line-height: 1;
  color: #ff5b2e;
  line-height: 44px;
}
.pricing__list-op {
  margin-top: 24px;
}
.pricing__option {
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 1;
  color: #656689;
  margin-bottom: 18px;
}
.pricing__option span {
  margin-left: 10px;
}

.reviews {
  padding: 53px 0;
}
.reviews__inner {
  display: flex;
  align-items: center;
  gap: 0 40px;
}
.reviews .next,
.reviews .prev {
  flex-shrink: 0;
  width: 55px;
  height: 55px;
  border-radius: 50%;
  border: 1.5px solid #ffd1c4;
  background-color: transparent;
  color: #ff5b2e;
}
.reviews__contents {
  overflow: hidden;
  transition: all linear 0.25s;
}
.reviews__list {
  display: flex;
}
.reviews__auth, .reviews__dots,
.reviews .next,
.reviews .prev {
  display: flex;
  align-items: center;
  justify-content: center;
}
.reviews .active-controls {
  color: #fff;
  background-color: #ff5b2e;
}
.reviews__item {
  display: flex;
  align-items: center;
  gap: 0 70px;
  width: 100%;
  flex-shrink: 0;
}
.reviews__item-media {
  flex-shrink: 0;
  width: 274px;
  border-radius: 137px;
  position: relative;
}
.reviews__item-media::before {
  position: absolute;
  content: "";
  inset: auto 0 0;
  background-color: #ffda54;
  border-radius: inherit;
  height: 85%;
}
.reviews__item-img {
  display: block;
  width: 100%;
  height: 100%;
  border-radius: inherit;
  position: relative;
  z-index: 1;
  object-fit: cover;
}
.reviews__heading {
  margin-bottom: 24px;
}
.reviews__cmt {
  width: 553px;
  font-weight: 400;
  font-size: 1.8rem;
  line-height: 1.56;
  color: #5e6085;
  margin-bottom: 34px;
}
.reviews__auth {
  justify-content: start;
  gap: 0 8px;
  font-weight: 600;
  font-size: 1.8rem;
  line-height: 1;
  color: #282828;
  font-family: "Sora";
}
.reviews__auth::before {
  display: inline-block;
  content: "";
  width: 20px;
  height: 2px;
  border-radius: 1px;
  background-color: #212121;
}
.reviews__dots {
  gap: 0 10px;
  margin-top: 50px;
}
.reviews .dot {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  border: 1px solid #ff5b2e;
}
.reviews .dot.dot-active {
  width: 24px;
  border-radius: 6px;
  background-color: #ff5b2e;
}

/*# sourceMappingURL=style.css.map */
